#start-btn {
    width: 40%;
}

#camera {
    width: 500px;
    height: 400px;
    border: 1px solid grey;
}

#logo_img {
    width: 150px;
    border-radius: 100px;
}

#textbox {
    width: 300px;
}

body {
    background-image: linear-gradient(rgb(255, 166, 0), yellow, rgb(135, 238, 130), rgb(130, 0, 43), lightblue, blue, orange, purple, rgb(0, 250, 162), turquoise, white);
}
.copy_right_footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
img:hover{
    border-radius: 140px;
    box-shadow: 0 6px 8px 0 rgba(2, 2, 2, 0.2);
}